<div (click)="close()" class="overlay-content overlay vh-100 vw-100">
    <!-- <img [src]="image.url"> -->
    <div class="row margin_value">
        <div class="col-md-12 d-flex justify-content-center">
            <span class="my-auto text-white fs-3 font_size">Swipe left</span>
            <img src="./assets/images/swipe-helper.gif" height="10" width="10">
            <span class="my-auto text-white fs-3 font_size">Swipe right</span>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <img src="./assets/images/clik.gif"> 
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <span class="my-auto text-white fs-3 font_size">Tap to view full profile details</span>

    </div>
</div>